
body {
    background: repeating-linear-gradient(
      135deg,
      #720026 0px,
      #720026 5px,
      #640026 5px,
      #640026 10px
    );
}

h1 {
    text-align:center;
    font-size:45px;
    margin-right:0px;
color:white;
}

html {
      font-weight: bold;
      color:white;
      font-family: 'Montserrat', sans-serif;  
}


#myInput {
width: 410px;
margin-right: 30px;
margin-left: 20px;
font-family: 'Montserrat', sans-serif; 
  font-weight: bold; 
border-radius: 5px;
background-color:white;
font-size: 20px;
 border: 2px solid white;

     margin-top: 10px;
}

#sortButton{
      margin-top: 10px;
    height: 32px;
border-radius: 5px;
position: relative;
background-color:white;
font-size: 20px;
 border: 2px solid white;
}






#textInput{
      font-weight: bold;
font-family: 'Montserrat', sans-serif;  
width: 422px;
border-radius: 5px;
background-color:white;
font-size: 20px;
border: 2px solid white;

}

#prioritySelector{
width: 50px;
height: 32px;
border-radius: 5px;
background-color:white;
font-size: 20px;
 border: 2px solid white;
}

#addButton{
width: 50px;
height: 32px;
border-radius: 5px;
background-color: #4CAF50;
font-size: 20px;
 border: 2px solid #4CAF50;
  margin-bottom: 20px;

}
#viewSection {
  line-height: 2;
    float: left;
    height:420px;
    width: 540px;
  overflow: auto;
}

.todoContainer {
    white-space: nowrap;
    margin-bottom: 5px;
}



.todoPriority {
    display:inline;
float:left;
margin-right: 15px;
margin-left: 15px;
}

.todoCreatedAt {
        display:inline;
float: left;
margin-right: 15px;
}

.checking {
         display:inline;
float: left;
margin-top: 10px;
width: 15px;
height:15px;
} 


.square {
    border-radius: 5%;
    border: 3px solid white;
    box-shadow: 0px 0px 10px 3px black;
    background-color:#222;
    padding: 10px 0px 100px 10px;
    width: 550px;
    height: 580px;
    margin:50px auto;
    
}


::-webkit-scrollbar {
  width: 14px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
  background: #888; 
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.linethrough {
  text-decoration: line-through;
}


body section .draggable {
  will-change: transform;
  list-style-type: none;
  cursor: move;
  transition: all 200ms;
  user-select: none;
  position: relative;
}

body section .draggable:hover {
     border: 2px dashed rgba(0, 0, 0, 0.4);
     background-color:rgba(255, 255, 255, 0.2);

}
body section .draggable:after {
  cursor: pointer;
  transition: all 200ms;
  transition-timing-function: cubic-bezier(0.48, 0.72, 0.62, 1.5);
  transform: translateX(20%);
  opacity: 0;
  
}
body section .draggable:hover:after {
  opacity: 1;
  transform: translate(0);
}

.over {
  transform: scale(0.95,0.95);
       border: 2px dashed rgba(0, 0, 0, 0.8);
     background-color:rgba(255, 255, 255, 0.4);
}
